<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.product.mapper.ProductSKUMapper">

    <select id="getSKUBySpuId" resultType="org.example.product.modules.Response.ProductSKUResponse">
        select k.sku_id,
               k.spu_id,
               k.sku_code,
               k.specs,
               k.price,
               k.stock,
               k.image
        from product_sku k
        where k.spu_id = #{spuId};
    </select>
</mapper>