<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ProductSPUMapper">

    <resultMap id="ProductResponse" type="org.example.modules.VO.ProductResponse">
        <result column="spu_id" property="spuId"/>
        <association property="skuList" column="spu_id"
                     select="org.example.mapper.ProductSKUMapper.getSKUBySpuId"/>
    </resultMap>

    <select id="getProductSPUs" resultType="org.example.modules.VO.ProductSPUResponse">
        SELECT
            p.spu_id,
            p.spu_name,
            p.category_id,
            p.main_image,
            p.description,
            p.sales,
            MAX(k.price) AS price
        FROM
            (SELECT * FROM product_spu ORDER BY spu_id LIMIT #{pageStart},#{pageSize}) p
        LEFT JOIN
            product_sku k ON p.spu_id = k.spu_id
        GROUP BY
            p.spu_id, p.spu_name, p.category_id, p.main_image, p.sales
    </select>

    <select id="getProductSPUById" resultMap="ProductResponse">
        select p.spu_id,
               p.spu_name,
               p.category_id,
               p.main_image,
               p.description,
               p.sales
        from product_spu p
        where p.spu_id = #{spuId};
    </select>

    <select id="getSKUBySpuId" resultType="org.example.modules.VO.ProductResponse">
        select k.* from product_sku k where k.spu_id = #{spuId};
    </select>
</mapper>